<nav ng-controller="NavbarController as nav" class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> Gift-Coin</a>
    </div>
    <div align="right">
      <ul class="nav navbar-nav">
        <li ng-show="nav.isAuthenticated()"><a ng-click="nav.clearStorage()" ui-sref="auth">Logout</a></li>
        <li ng-show="nav.isAuthenticated()"><a ui-sref="account">Home</a></li>
        <li ng-show="nav.isAuthenticated()"><a ui-sref="shopping">Shopping</a></li>
      </ul>
    </div>
  </div>
</nav>
