<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Copy the tags to request item..</h4></div>
    <div class="panel-body">
      <ul class="list-group">
          <li class="list-group-item" ng-model="shopping" >
              <b>Surfboard</b><br>
              California Board Company Mini Mal foam surfboard 7ft <br>
              <div  style="text-align: right;"><b>Satoshis {{shopping.items.A001}}, Tag: A001</b></div>
          <li class="list-group-item">
              <b>MacBook</b><br>
              Now equipped with seventh-generation Intel Core processors, MacBook is snappier than ever.<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A002}}, Tag: A002</b></div>
          <li class="list-group-item">
              <b>Guardians of the Galaxy – 12" Titan 6 Pack </b><br>
              Fans of the Guardians of the Galaxy films will love this pack of 12" figures of the Marvel Titan Hero series.<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A003}}, Tag: A003</b></div>
          <li class="list-group-item">
              <b>Lego City Police Station</b><br>
              Lego has always been popular with children, but it is this Lego City Police Station that is set to be its most coveted gift this Christmas.<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A004}}, Tag: A004 </b></div>
          <li class="list-group-item">
              <b>Casio FX-991EX Scientific Calculator</b><br>
              Casio's first scientific calculator with a spreadsheet facility.<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A005}}, Tag: A005</b></div>
          <li class="list-group-item">
              <b>Desk Fan</b><br>
              High Performance Desk Fan<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A006}}, Tag: A006 </b></div>
          <li class="list-group-item">
              <b>Dash Cam</b><br>
              The Nextbase Dash Cam 212 offers high quality footage, recording in Full 1080p HD at 30fps.<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A007}}, Tag: A007 </b></div>
          <li class="list-group-item">
              <b>Oculus VR Headset</b><br>
              Oculus Go is the easiest way to jump into the world of virtual reality.<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A008}}, Tag: A008 </b></div>
          <li class="list-group-item">
              <b>Lynx Golf Umbrella</b><br>
              Wind Resistant Double Canopy, Lightweight, strong fibre glass shaft and automatic.<br>
              <div style="text-align: right;"><b>Satoshis {{shopping.items.A009}}, Tag: A009 </b></div>
      </ul>
    </div>
  </div>
</div>

