<div class="container" layout-align="center">
  <div class="panel panel-default">
    <div class="panel-heading" ng-model="donate">Donate towards {{donatelist.friend }}'s requests:</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in donatelist.requests">
          <div ng-hide="{{item.order_complete}}">
            {{item.item_name}}&nbsp;::&nbsp;Target Satoshis:&nbsp;{{item.req_value}}
            <br> Satoshis Confirmed: {{item.btc_total}} &nbsp;&nbsp;&nbsp; Satoshis Unconfirmed: {{item.btc_total_unconf}}
            <a class="btn btn-primary" ui-sref="donate({friend: donatelist.friend, item: item.item_name, item_id: item.item_id, cost: item.req_value, unconf: item.btc_total_unconf})" role="button" ng-click="donatelist.clearStorage()" ng-hide="{{item.btc_total_unconf}} == {{item.req_value}}">Donate</a>
          </div>
          <div ng-hide="{{!item.order_complete}}">
            {{item.item_name}}&nbsp;::&nbsp;Target Satoshis:&nbsp;{{item.req_value}}
            <h4>{{item.order_status}}<h4>

          </div>
          <!-- passing stateParams object-->
        </li>
      </ul>
    </div>
  </div>
</div>
