<div layout-align="center center" class="container">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading" ng-model="donate">Donate towards {{donate.friendData.friend}}'s {{donate.friendData.item}}!&nbsp;&nbsp;&nbsp;The target is: Satoshis {{donate.friendData.cost}}</div>
      <div class="panel-body">
        <div>
          So far {{donate.friendData.friend}} has got Satoshis {{donate.friendData.unconf}} &nbsp;&nbsp;&nbsp;
        </div>
        <br/>
        <form ng-submit="donate.sendDonation()">
          Enter amount in Satoshis (minimum {{donate.getMinimum()}}):
          <br/>
          <br/>
          <br/>
          <input type="submit" class="btn btn-primary" id="submit" value="Submit" />
          <input type="number" ng-model="donate.amount" name="amount" />
        </form>
      </div>
    </div>
  </div>
</div>
