<div class="container">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Your Wallet</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-model="account">
            Welcome {{account.name}}
            <li class="list-group-item" ng-model="account">
              BTC Satoshis:&nbsp;&nbsp; {{account.btc_unconf}}
              <li class="list-group-item" ng-model="account">
                {{account.pubkey}}
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Contacts</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="friend in account.contacts">
            <a href="#/donatelist/{{friend[0]}}">
              {{friend[0]}} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">Request a new item</div>
      <div class="panel-body">
        <div class="input-group">
          <textarea class="form-control custom-control" rows=1 style="resize:none" ng-model="account.item"></textarea>
          <span class="input-group-addon btn btn-primary" ng-click="account.postRequest()">Request</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Your Requests</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in account.requests">
              <div ng-hide="{{item.order_complete}}">
                <h5>{{item.item_name}}&nbsp;::&nbsp;Target Satoshis:&nbsp;{{item.req_value}}&nbsp;&nbsp;&nbsp;</h5>
                <div>Satoshis Confirmed: {{item.btc_total}} &nbsp;&nbsp;&nbsp; Satoshis Unconfirmed: {{item.btc_total_unconf}} </div>
                <a class="btn btn-primary" ng-click="account.buyRequest(item.item_id)" role="button" ng-show="{{item.btc_total_unconf}} == {{item.req_value}}">Ready to buy!</a>
              </div>
              <div ng-hide="{{!item.order_complete}}">
                <h5>{{item.item_name}}&nbsp;::&nbsp;Target Satoshis:&nbsp;{{item.req_value}}&nbsp;&nbsp;&nbsp;</h5>
                <h4>{{item.order_status}}<h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
